.done {
  text-decoration: line-through;
}



body {
  text-align: center;
  background: linear-gradient(to right, yellow, orange, red);s
  font-size: 100%;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

button:hover{
  cursor: pointer;
}

button {
  margin: 3px;
  padding: 2px;
}

time:hover{
  cursor: pointer;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}

#Btn1 {
  background-color: red;
  margin: 2px;
  padding: 2px;
}

#Btn2 {
  background-color: red;
  margin: 2px;
  padding: 2px;
}

#Btn3 {
  background-color: red;
  margin: 2px;
  padding: 2px;
}

#Btn4 {
  background-color: red;
  margin: 2px;
  padding: 2px;
}

ul li {
  margin: 5px;
  padding: 5px;
  border: 12px;
}
